<div class="bg-white p-10 rounded-xl shadow-md text-center w-full max-w-2xl">
  <div class="bg-white border rounded-lg shadow p-6 max-w-md mx-auto text-left flex flex-col items-center space-y-4">
    <h3 class="text-lg font-semibold mt-4">Новости</h3>
    <p class="text-gray-600 text-center">Последние обновления и события компании</p>

    <!-- Image -->
    <img
      src="assets/images/backgroundru1.jpg"
      alt="News image"
      class="news-img mb-4  w-50 block"
    />

    <!-- Button below the image -->
    <button
      onclick="window.open('https://nesk.kg/ru/press-centr/novosti-i-press-relizy/', '_blank')"
      class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 mt-2"
    >
      Перейти →
    </button>
  </div>
</div>
